<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="style.css" />
    <title>Mariscos La Parada SL</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="row">
        <div>
          <a href="index.html" class="brand">La Parada</a>
        </div>
        <div>
          <a href="cart.html">Carrito</a>
          <a href="index.html">Sign In</a>
        </div>
      </header>
      <main>
        <ul>
          <li>P1</li>
          <li>P2</li>
          <li>P3</li>
          <li>P4</li>
        </ul>
      </main>
      <footer class="row center">All right reserved</footer>
    </div>
  </body>
</html>
