html {
  font-size: 62.5%; /* Aprox 1rem */
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;
}

/* TODO: Remove??? 
Media and responsive 
img,
video {
  max-width: 100%;
} */

.footer {
  width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ff8000;
}

header a {
  color: #fff;
  padding: 1rem;
}

a.brand {
  color: #fff;
  font-size: 3rem;
}
